/* ------------ Main styles  ------------ */
html {
    font-size: 16px;  /* used for rem calculations */
}
body {
    display: flex;  /* used to push Footer to the bottom */
    flex-direction: column;  /* used to push Footer to the bottom */
    min-height: 100vh;  /* used to push Footer to the bottom */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: black;
}
:root {
    --accent-color: #FE0000;
}
main {
    flex-grow: 1;  /* used to push Footer to the bottom */
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-container {
    display: flex;
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
.gradient-text {
    background: -webkit-linear-gradient(0deg, #C387D1, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gradient-bg {
    background: -webkit-linear-gradient(0deg, #C387D1, black);
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
p {
    margin: 0 0 1rem;
}
h1, h2,  h3,  h4,  h5 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}
img {
    max-width: 100%;
}
button {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
.logo {
    display: flex;
}
.logo img {
    width: 160px;
}
/* ------------ /end Main styles  ------------ */


/* ------------ Titles  ------------ */
.main-title {

}
/* ------------ /end Titles  ------------ */


/* ------------ Header  ------------ */
.header__top {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}
.search {
    margin: 0 40px 0 auto;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.search__input {
    border-radius: 8px;
    width: 400px;
    border: none;
    padding: 6px 12px;
}
.search__input:focus {
    outline: none;
}
.search__icon {
    color: white;
}
.header__actions {
    display: flex;
    gap: 12px;
    align-items: center;
}
.order-call {
    border: none;
    padding: 6px 32px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: white;
}
.header__basket {
    padding: 6px 32px;
    height: 44px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    color: white;
}
.header__basket-discont {
    position: absolute;
    background: var(--accent-color);
    color: white;
    padding: 4px;
    border-radius: 50%;
    font-size: 10px;
    margin-top: 16px;
    margin-left: 16px;
}
.header__nav ul {
    padding-top: 12px;
    padding-bottom: 12px;
    list-style: none;
    gap: 48px;
}
.header__nav a {
    font-weight: 600;
    text-transform: lowercase;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.header__nav a::after {
    display: flex;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-left: 8px;
    margin-top: 2px;
    background-color: white;
}
/* ------------ /end Header  ------------ */


/* ------------ Footer  ------------ */
.footer {
    background-color: #E6E6E6;
}
.footer__top {
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 100px;
}
.footer__block {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__block:first-child {
    flex-grow: 1;
}
.footer__block:last-child {
    text-align: right;
}
.footer__logo {
    margin-bottom: 40px;
}
.footer__block p {
    margin: 0;
}
.footer__links {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__links a {
    color: black;
}
.footer__socials {
    list-style: none;
    padding: 0;
    margin: 4px 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
}
.footer__socials a {
    display: flex;
}
.footer__socials svg {
    width: 24px;
}
.footer__socials svg path {
    fill: black;
}
.footer__copyright {
    position: relative;
}
.footer__copyright-border {
    border-top: 1px solid black;
    position: absolute;
    left: 40px;
    right: 40px;
}
.footer__copyright-inner {
    padding-top: 20px;
    padding-bottom: 40px;
}
.footer__copyright p {
    margin: 0;
}
/* ------------ /end Footer  ------------ */


/* ------------ Carousels  ------------ */
.owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    border: 1px solid #9c9c9c;
    display: block;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}
.owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3D3477;
}
.main-carousel__item img {
    border-radius: 20px;
}
/* ------------ /end Carousels  ------------ */


/* ------------ Advantages  ------------ */
.advantages__inner {
    padding-top: 40px;
    padding-bottom: 40px;
}
.advantages__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 20px;
}
.advantages__list li {
    border-radius: 12px;
    display: flex;
    padding: 20px 32px;
    align-items: center;
    justify-content: space-between;
}
.advantages__list h3 {
    margin: 0;
    width: 60%;
    color: white;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
}
.advantages__list img {
    width: 32%;
}
/* ------------ /end Advantages  ------------ */


/* ------------ Novelty  ------------ */
.novelty__title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 40px;
}
.novelty__inner {

}
.novelty-carousel-container {
    max-width: 100%;
}
.novelty-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    color: black;
}
.novelty-image-container {
    position: relative;
}
.novelty-image-container img {
    border-radius: 12px;
    border: 1px solid #cecece;
}
.novelty-image-container span {
    position: absolute;
    background: var(--accent-color);
    color: white;
    border-radius: 50%;
    font-size: 18px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -12px;
    left: 12px;
}
.novelty-item h2 {
    text-align: center;
    margin: 20px 0 4px;
    font-size: 16px;
}
.novelty-item p {
    text-align: center;
    margin: 0;
}
/* ------------ /end Novelty  ------------ */


/* ------------ Stock  ------------ */
.home-stock {

}
.home-stock__inner {
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 40px;
}
.home-stock__item {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-stock__item img {
    border-radius: 12px;
    border: 1px solid #cecece;
}
.home-stock__item a {
    color: white;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 20px;
}
.home-stock__sign {
    font-size: 60px;
    font-weight: bold;
}
.home-stock__action {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-stock__action h2 {
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
}
.home-stock__action a {
    color: white;
    padding: 8px 40px;
    border-radius: 8px;
    margin-top: 20px;
}
/* ------------ /end Stock  ------------ */


