/* ------------ Main styles  ------------ */
html {
    font-size: 16px;  /* used for rem calculations */
}
body {
    display: flex;  /* used to push Footer to the bottom */
    flex-direction: column;  /* used to push Footer to the bottom */
    min-height: 100vh;  /* used to push Footer to the bottom */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: var(--neutral-color);
    background-color: #F8FAFC;
}
:root {
    --main-color: #10B981;
    --secondary-color: #7F7FFA;
    --neutral-color: #0F172A;
}
main {
    flex-grow: 1;  /* used to push Footer to the bottom */
}
.main-container {
    display: flex;
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
p {
    margin: 0 0 1rem;
}
h1, h2,  h3,  h4,  h5 {
    margin: 0 0 0.5rem;
    line-height: 1.2;
}
img {
    max-width: 100%;
}
button {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
.unselectable {
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}
/* ------------ /end Main styles  ------------ */


/* ------------ Titles  ------------ */
.main-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}
/* ------------ /end Titles  ------------ */


/* ------------ Header  ------------ */
.header {
    background-color: white;
}
.header__inner {
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
}
.header__logo {
    display: flex;
    align-items: flex-start;
}
.header__logo img {
    width: 132px;
}
.header__nav {
    margin-left: 140px;
    margin-right: auto;
}
.header__nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;
    list-style: none;
}
.header__nav a {
    font-weight: 500;
    color: var(--neutral-color);
    transition: 0.3s;
}
.header__nav a:hover, .header__nav a.active {
    color: var(--main-color);
}
.header__contacts {
    display: flex;
    gap: 80px;
}
.header__contacts a {
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: right;
}
.header__contacts h3 {
    color: var(--secondary-color);
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
}
.header__contacts p {
    margin-bottom: 0;
    color: var(--neutral-color);
}
.header__contacts span {
    background: #CBD5E1;
    color: white;
    border-radius: 50%;
    padding: 12px;
    font-size: 22px;
    transition: 0.3s;
}
.header__contacts a:hover span {
    background-color: var(--main-color);   
}
/* ------------ /end Header  ------------ */


/* ------------ Footer  ------------ */
.footer {
    background-color: #424A52;
}
.footer__inner {
    padding-top: 60px;
    padding-bottom: 80px;
    gap: 60px;
    flex-direction: column;
}
.footer__nav {
    margin: 0 auto;
}
.footer__nav ul {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__nav a {
    font-weight: 500;
    color: white;
    transition: 0.3s;
}
.footer__nav a:hover, .footer__nav a.active {
    color: var(--main-color);
}
.footer__main {
    display: flex;
    justify-content: space-between;
}
.footer .copyright {
    margin: 0;
    color: white;
}
.footer__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}
.footer__contacts p {
    margin: 0;
}
.footer__socials {
    display: flex;
    gap: 12px;
}
.footer__socials svg {
    width: 24px;
    transition: 0.3s;
}
.footer__socials svg path {
    fill: white;
    transition: 0.3s;
}
.footer__socials svg:hover path {
    fill: var(--main-color);
}
.footer__mailing {
    display: flex;
    margin-left: 32px;
    border: 1px solid #CBD5E1;
    border-radius: 8px;
}
.footer__mailing input {
    width: 320px;
    padding: 12px 16px;
    color: white;
    background: transparent;
    border: none;
}
.footer__mailing input::placeholder {
    color: white;
    opacity: 1;
}
.footer__mailing input:focus {
    outline: none;
}
.footer__mailing button {
    padding: 10px 32px;
    color: white;
    background: #CBD5E1;
    border: none;
    border-radius: 8px
}
.scroll-top {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0;
    color: white;
    text-align: left;
    font-weight: 100;
    background: transparent;
    border: none;
}
.scroll-top__icon {
    padding: 12px;
    color: black;
    background: #CBD5E1;
    border-radius: 50%;
    transition: 0.3s;
}
.scroll-top:hover .scroll-top__icon {
    color: white;
    background: var(--main-color);
}
/* ------------ /end Footer  ------------ */