@media screen and (max-width: 991px) {
    .main-container {
        padding-left: 12px;
        padding-right: 12px;
    }
    main {
        padding: 20px 0 32px;
    }
    .main-title {
        font-size: 20px;
    }
    .main-title-container span {
        height: 8px;
        margin-top: 2px;
    }
    .category-switcher {
        padding: 0;
        gap: 8px;
    }

    /* Header start */
    .menu-toggler {
        display: flex;
    }
    .header__top {
        flex-wrap: wrap;
        padding: 20px 12px 0;
    }
    .logo img {
        width: 130px;
    }
    .search {
        width: 100%;
        order: 3;
        margin: 12px 0 0;
    }
    .search__input {
        width: 100%;
    }
    .header__actions {
        margin-left: auto;
        gap: 8px;
    }
    .header__actions-item {
        padding: 6px 8px;
        height: 40px;
    }
    .header__nav {
        display: none;
    }
    /* Header end */


    /* Footer start */
    .footer__top {
        padding: 32px 12px;
        flex-wrap: wrap;
        gap: 20px;
    }
    .footer__block {
        width: 100%;
    }
    .footer__block:first-child p {
        text-align: center;
    }
    .footer__logo {
        margin: 0 auto;
        width: max-content;
    }
    .footer__links a {
        text-decoration: underline;
    }
    .footer__block:last-child {
        text-align: left;
    }
    .footer__socials {
        justify-content: flex-start;
    }
    .footer__copyright-border {
        left: 20px;
        right: 20px;
    }
    .footer__copyright-inner {
        padding-bottom: 28px;
    }
    .footer__copyright p {
        width: 100%;
        text-align: center;
    }
    /* Footer end */


    /* Home page start */
    .advantages__inner {
        padding: 20px 12px 28px;
    }
    .advantages__list {
        flex-wrap: wrap;
        gap: 12px;
    }
    .advantages__list li {
        padding: 12px;
        width: calc(50% - 6px);
    }
    .advantages__list h3 {
        width: auto;
        font-size: 15px;
    }
    .advantages__list img {
        width: 46px;
    }
    /* Home page end */


    /* Novelty start */
    .novelty__title {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .novelty-item {
        width: 240px;
    }
    .novelty-image-container span {
        font-size: 16px;
        width: 48px;
        height: 48px;
    }
    .novelty-item h2 {
        font-size: 15px;
    }
    .owl-nav--prev {
        left: -10px;
    }
    .owl-nav--next {
        right: -10px;
    }
    /* Novelty end */


    /* About us page start */
    .about-us-text__bg {
        padding: 32px 20px;
        min-height: auto;
    }
    .about-us-text h1 {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .about-us-text p {
        padding: 0;
    }
    .about-us-text img {
        opacity: 0.15;
        bottom: 0;
    }
    /* About us page end */


    /* Product card start */
    .products-list {
        flex-direction: column;
    }
    .product-card {
        width: 100%;
    }
    .product-card__badget h2 {
        font-size: 15px;
    }
    .product-card__sizes label {
        font-size: 16px;
    }
    .product-card__sizes span {
        font-size: 16px;
    }
    .product-card__actions button {
        font-size: 12px;
        padding: 8px;
    }
    .product-card__actions button img {
        width: 28px;
        margin-top: 12px;
    }
    .basket-page .remove-from-basket-button span {
        font-size: 28px;
    }
    /* Product card end */
    

    /* Product info start */
    .product-info__inner {
        padding-top: 0;
    }
    .product-info .product-card__form {
        gap: 20px;
        flex-direction: column;
    }
    .product-card__divider-left {
        min-width: auto;
        width: 100%;
    }
    .product-card__divider-right {
        width: 100%;
        padding: 0;
    }
    .product-info .product-card__badget h2 {
        font-size: 20px;
    }
    .product-info .product-card__badget p {
        font-size: 20px;
    }
    .product-info .product-card__form label {
        font-size: 18px;
    }
    .product-info .product-card__actions {
        gap: 12px;
    }
    .product-info .product-card__actions button {
        font-size: 15px;
        padding: 12px 2px 16px;
    }
    .product-card__description {
        margin-top: 20px;
        text-align: left;
    }
    .checkout-form input {
        width: 100%;
    }
    .checkout-form button {
        font-size: 22px;
    }
    /* Product info end */


    /* Pagination start */
    .page-link {
        font-size: 16px;
        min-width: 38px;
        min-height: 38px;
    }
    /* Pagination end */


    /* Modal start */
    .feedback-modal .modal-dialog {
        width: 94%;
    }
    .modal-dialog {
        border-radius: 40px;
        padding: 32px 24px;
        min-width: auto;
        min-height: auto;
    }
    .modal-title {
        font-size: 22px;
        margin-bottom: 16px;
    }
    .modal-image {
        width: 52px;
    }
    .modal-form {
        margin-top: 20px;
    }
    .modal-form input {
        padding: 10px;
        margin-bottom: 16px;
        font-size: 16px;
    }
    .buy-on-click-modal .modal-dialog {
        padding: 32px 24px;
        min-width: auto;
        width: 94%;
    }
    .buy-on-click-modal .modal-image {
        width: 100px;
    }
    .modal-content .counter input {
        margin: 0;
    }
    .policy-modal .modal-dialog {
        max-width: 100%;
        width: 94%;
    }
    .policy-modal .modal-title {
        font-size: 20px;
    }
    .modal-close-btn {
        top: 12px;
        right: 24px;
        width: 20px;
    }
    /* Modal end */
}